/* ***************************************** */
/* Arxiu CSS que es configura pel tema LIGHT */
/* ***************************************** */

:root{
    --bg_color:rgb(250,250,250);
    --font_color:rgb( 10,10,10);
    --font-type: arial;

    --color1: #547794;
    --color2: #F6F3EE;
    --color3:#E0E0E0;
    --color4:#C2C9CD;
    --color5: #88939a;
    --atac:rgb(214, 119, 119);
    --defensa:rgb(119 196 158);
}