/*
// **************************************************** //
    TITOL: plantilla_layout.css

    DATA/VERSIO: YYYYMMDD / 1.0.0
    AUTOR:

    DESCRIPCIO:

    Arxiu que defineix el layout de la app      

    import: plantilla_colors.css

    format:  scheme_layout.css
    exemple: scheme_layout.css

// **************************************************** //
*/

/* BASIC RESET *************************************************************** */
/* Nota: substituir per normalize.css si escau */
*,*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS I FONTS ************************************************************ */
/* Tot aixo esta ja definit al arxiu colors_theme.css i es carrega segons el   */
/* theme seleccionat                                                           */

/* BODY ********************************************************************** */
body{
    /* Definim un 'default' per tots els elements de la web */
    background-color: var(--bg_color00);
    color: var(--font_color00);
    font-family: var(--font-family00);
    font-size: var(--font-size00);
}

/* ********************  ESTRUCTURA DE CLASES I IDS  ************************* */
/* *************************************************************************** */
/* PAGINA ******************************************************************** */
/*      HEADER *************************************************************** */
/*          TITLE ************************************************************ */
/*          NAVS ************************************************************* */
/*              NAVLINKS ***************************************************** */
/*              TSLINKS ****************************************************** */
/*      MAIN ***************************************************************** */
/*          LOADER *********************************************************** */
/*          CONTENT ********************************************************** */
/*              HOME ********************************************************* */
/*              LLISTAT ****************************************************** */
/*                  FILTRE *************************************************** */
/*                      LLISTAPOKES ****************************************** */
/*                          POKECARD ***************************************** */
/*              DETALL ******************************************************* */
/*                      LLISTAPOKES ****************************************** */
/*                          POKECARD ***************************************** */
/*              COMBAT ******************************************************* */
/*                  FILTRE *************************************************** */
/*                      LLISTAPOKES ****************************************** */
/*                          POKECARD ***************************************** */
/*              CONTACT ****************************************************** */
/*      FOOTER *************************************************************** */
/* *************************************************************************** */

/*
PLANTILLA PAGINA 
div.pageContainer{}
    header{}  
        // mainHeaderV2 Component (mainHeaderV2.vue)
        div.mainHeader{}
            div.mainTitle{}
            nav.mainNav{}
                ul.navLinks{}
                ul.tsLinks{}
                    li.linkActivat{}     

    main{}
        //mainHome Component (mainHomeV1.vue)
        div.loader{}
        div.contents{}
                    
    footer{} 
        //mainFooter Component (mainFooter.vue)

MAIN HOME CONTENTS
            // mainHome Component 
            div.mainHome{} 

MAIN LLISTAT CONTENTS 
            // llistatAmbFiltre Component (llistatAmbFiltre.vue) 
            div.blocFilter{}
                div.filtre{}
                    form.filtre1{}
                div.llistats{}
                    // pokeLlistat Component (pokellistatV1.0.vue) //
                    div.pokeLlistat{}
                        ul.llistatPokes0{}
                            // pokeCard0 Component (pokeCardV2.1.vue) 
                            div.pokeContainer{}
                                section.poke_tapa{}
                                section.poke_contingut{}
                                    div.pokeImg{}
                                    div.pokeData{}
                                    div.pokeControls{}

MAIN DETALL CONTENTS 
            // pokeCard0 Component (pokeCardV2.1.vue") 

MAIN COMBAT 
            // combatAmbFiltre Component (combatAmbFiltre.vue)
                           
MAIN CONTACT CONTENTS
            // contact Component (mainContacteV1.vue) 
            div.contacteDades{}
            div.contacteForm{}
            div.contacteMap{}
            div.contacteVideo{}
            div.contacteLinks{}
*/

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* ------------------------ PAGINA --------------------------- */
div.pageContainer{
    position:relative;
    margin: 1.5rem auto;
    border: var(--bg_color) solid 5px;
    /* border: var(--color03) solid 25px; */
    border-radius: 0 2rem 0 2rem;
    /*padding: 2rem;*/
    display:flex;
    flex-direction: column;
    /*width:90%;*/
    /* Asignem el color segons la variable del tema */
    background-color: var(--color2);
    color: var(--color00)
}

header, main, footer {
    width: 100%;
    border:var(--color2) solid 0.5px;
    /*border-radius: 2rem;*/
    min-height:25px
}
/* ----------------------------------------------------------- */



/* ------------------ HEADER --------------------------------- */
/* ----------------------------------------------------------- */


/* ------------------ MAIN ----------------------------------- */
main .loader{ width:20%; margin: 0 auto}

main .contents{}

/* ----------------------------------------------------------- */


/* ------------------ FOOTER --------------------------------- */
footer{display:flex;justify-content: space-around;}
/* ----------------------------------------------------------- */



/* ------------------ CONTENTS PAGE ERROR -------------------- */
.contentPageError{
    width:75%;
    border: solid red 10px;
    margin:50px auto;
    padding: 5px;
    background: repeating-linear-gradient(10deg,green ,yellow 45px);
    text-align: center;
}
.contentPageError img{width: 50%; margin:0 auto; text-align:center}
.contentPageError h1{width: 75%;margin:0 auto; padding: 1rem; background-color: var(--color01);color:white;font-size: 3em;}
.contentPageError p{width: 75%;margin:2rem auto; padding: 1rem; background-color: var(--color04);color:yellow;font-size: 2em;}
/* ----------------------------------------------------------- */


/* ------------------ CONTENTS HOME --------------------------- */
.mainHome {}
.mainHome h1 {color: var(--font_color) ; background-color: var(--bg_color);}
/* ------------------------------------------------------------ */


/* ------------------ CONTENTS COMUNS DE LLISTAT/DETALL/COMBAT --- */
.blocFilter{background-color: var(--color2); /*width:95%; margin:0 auto; padding:1rem;*/}
.blocFilter .filtre{background-color: var(--color2);}
.blocFilter .llistats{background-color: var(--color2)}
.blocFilter .llistats .pokeLlistat{background-color: var(--color2); width: 90%; margin:0 auto; padding:1rem;}
.blocFilter .llistats ul.llistatPokes0{    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
};

.pokeLlistat{background-color: var(--color2);}
.blocFilter .llistats ul.llistatPokes0 li{min-width: 20%; margin-top: 0.5rem;}
/* a partir de aqui es el component de pokecard en si */
.pokeContainer{
    /* Afegim valor de perspectiva 3D al contenidor de la carta */
    -webkit-perspective:1200;
    -moz-perspective:1200;
    perspective: 1200;
    display:flex;
    flex-wrap: wrap;
}
.pokeContainer .pokeCard{background-color: var(--color2)}
/*
.pokeContainer .pokeCard{}
.pokeContainer .pokeCard .poke_tapa{}
.pokeContainer .pokeCard .poke_contingut{}
*/

/* Importat de la PAC02 */
/*.pokeCard { position: relative; width: 15rem; border: 5px solid; border-radius: 2%; border-color: var(--color4);}
/*.pokeImg, .pokeData, .pokeBtn { height: 85%; position: relative; overflow: hidden; margin: 5px 0px; }*/
.pokeImg .pID, .pokeImg .pImg, .pokeImg .pName { width: 100%; }
.pokeImg .pID { text-align: center; padding: 10px;justify-content: center; }
.pokeImg .pID .pokeId0 { color: var(--font_color); font-weight: bolder; }
.pokeImg .pID .pokeId1 { color: var(--font_color); font-weight: normal; font-style: italic; }
.pokeImg .pImg { position: relative; height: 100%; text-align: center; }
.pokeImg .pImg img { position: relative; border: 5px solid; border-radius: 50%; width: 50%; padding: 5px;border-color: var(--color3); }
/*.pokeImg .pImg img.parella { display: inline-block; width: 45%; }*/
.pokeImg .pName { text-align: right; }
.pokeImg .pName .pokeName0 { color: var(--font_color); font-weight: bolder; display: flex; justify-content: center; }
.pokeImg .pName .pokeName1 { color: var(--font_color); font-weight: normal; font-style: italic; text-transform: capitalize; display: flex; justify-content: space-evenly; }
/*.pokeData { position: relative; height: 50%; display: flex; justify-content: space-around; margin: 10px 0px; }*/
/*.pokeData span { text-align: center; }*/
.pokeData .pAtk, .pokeData .pDef { border: 0.5px solid var(--color2); background-color: var(--defensa); border-radius: 10%; width: 60%; padding: 5px; justify-content: center;}
.pokeData .pAtk { background-color: var(--atac); color: var(--font_color); white-space: nowrap;}
.pokeData .pDef { background-color:  var(--defensa); color: var(--font_color); white-space: nowrap;}

.pokeData .pAtk .pokeAtk0 {color: var(--font_color); font-weight: bolder; text-align: center; margin:0 auto; display: flex;text-justify: distribute;}
.pokeData .pDef .pokeDef0 {color: var(--font_color);font-weight: bolder; text-align: center; margin:0 auto;display: flex;}
/*.pokeBtn .pBtn { display: block; margin: 50px 50px; padding: 50px; background-color: var(--color2); color: var(--color2); border: 2px solid var(--color3); border-radius: 5px; }*/
/*.pokeTypes { display: block; width: 50%; text-align: center; padding: auto; background-color: var(--color2); border: 5px solid var(--color1); margin: auto; }*/
.pokeTypes .pTypes { display: block; padding: 10px; border: 2px solid var(--font_color); text-align: center; width: 50%; margin: auto; }
.pokeTypes .pTypes .pokeType1 { color: var(--font_color); }

/* ------------------------------------------------------------ */

/* ------------------ CONTENTS COMBAT ONLY--------------------- */
/*div.pokeContainer{}*/
.pokeContainer .pokeCard>div.combat{background-color: var(--color2);}
.pokeContainer .pokeCard>div.combat{
    position:relative;
    /* Afegim la gestio heredada dels efectes 3D */
   -moz-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transform-style: preserve-3d;
    /* Definim com volem que siguin les transcicions aplicades */
   transition: all 5s ease;
    /* Li posem un border pq ajusti be quant sigui activada */
    /*border: var(--color1) 5px solid;*/
    border-radius: 25px;    
}
.pokeContainer .pokeCard.activada>div.combat {
    /* Afegim el efecte de rotacio de la carta (amb les dues imatges: frontal i posterior) quant fem click */
   -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform: rotateY(180deg);
    /*border: var(--atac) 5px solid;*/
    border-radius: 25px;
}
.pokeContainer .pokeCard>div.combat .poke_tapa, .pokeContainer .pokeCard>div.combat .poke_contingut{
    /* Afegim atributs comuns a les dues cares */
    /* Ens asegurem de qeu omplin els divs ... */
    background-color: var(--bg_color);
    border-radius: 25px;
    height: 100%;
    width: 100%;
    position: relative;
    /* Posem la cara del darrera del div oculta */
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Asegurem que es mantinguin les propietats 3D heredades */
    -moz-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transform-style: preserve-3d;
}
/*.pokeContainer .pokeCard>div.combat .poke_tapa img /*{width: max-content}*//*{width: 250px; height: 534px};*/
.pokeContainer .pokeCard>div.combat .poke_contingut{
    
    position:absolute;
    top:0;
    left:0;
    /* Girem la part que no volem que es vegui de inici ..... */
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform: rotateY(180deg);
}

/* ------------------------------------------------------------ */

/* ------------------ CONTENTS DETALL ------------------------- */
/* ------------------------------------------------------------ */


/* ------------------ CONTENTS CONTACT ------------------------ */
.mainContacte{}
.mainContacte h1{}
.mainContacte .contacteDades .logo {width:75%;text-align:center;margin:auto}
.mainContacte form{}
.mainContacte .contacteMaps{}

/* ------------------------------------------------------------ */


