<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO COMPONENT EN HTML</title>

    <!-- AREA DE ESTILS QUE CORRESPONDRA ALS TAGS <style> </style> -->
    <style>

    </style>
</head>
<body>
    <!-- AREA DE HTML QUE CORRESPONDRA ALS TAGS <template> </template> -->
    <div class="template">

    </div>

    <!-- AREA DE JAVASCRIPT QUE CORRESPONDRA ALS TAGS <script> </script> -->
    <script>

    </script>
</body>
</html>