/* ****************************************************************** */
/* DEVELOPPING */
/*
header,main,footer{border:green solid 2px}
section {border: red 2px dotted}
*/

/* ****************************************************************** */
/* AREA DE LOADING */
section.loading{
    display:block
}

/* ********************************************************************* */
/* AREA DE LLISTAT DE CARTES */
/* ********* VERSIO JORDI. PROVA DE CONCEPTE 20220906 - INICI - ******** */
.combat_llistat{display:flex;flex-wrap: wrap;}

.combat_llistat .pokeContainer{
    /* Afegim valor de perspectiva 3D al contenidor de la carta */
    -webkit-perspective:800;
    -moz-perspective:800;
    perspective: 800;
    display:flex;
    width: 250px;
    margin: 10px
}

.combat_llistat .pokeContainer .pokeCard{
    position:relative;
    /* Afegim la gestio heredada dels efectes 3D */
    -moz-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transform-style: preserve-3d;
    /* Definim com volem que siguin les transcicions aplicades */
    transition: all 5s ease;
    /* Li posem un border pq ajusti be quant sigui activada */
    border: green 5px solid;
    border-radius: 25px;
    position:relative; 
    width: 100%;
}

.combat_llistat .pokeContainer .pokeCard:hover {
    /* Afegim el efecte de rotacio de la carta (amb les dues imatges: frontal i posterior) quant fem hover */
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform: rotateY(180deg);
    border: yellow 5px solid;
    border-radius: 25px;
}

.combat_llistat .pokeContainer .pokeCard.activada {
    /* Afegim el efecte de rotacio de la carta (amb les dues imatges: frontal i posterior) quant fem click */
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform: rotateY(180deg);
    border: red 5px solid;
    border-radius: 25px;
}

.combat_llistat .pokeContainer .poke_tapa, .combat_llistat .pokeContainer .poke_contingut{
    /* Afegim atributs comuns a les dues cares */
    position: relative;
    /* Posem la cara del darrera del div oculta */
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Asegurem que es mantinguin les propietats 3D heredades */
    -moz-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transform-style: preserve-3d;
}

.combat_llistat .pokeContainer .pokeCard .poke_tapa{position:relative; width: 100%;}
.combat_llistat .pokeContainer .pokeCard .poke_tapa img{
    position:relative;
    width: 240px;
    height: 420px;
}

.combat_llistat .pokeContainer .poke_contingut{
    position:absolute;
    top:0;
    right:20px;

    /* Girem la part que no volem que es vegui de inici ..... */
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform: rotateY(180deg);
}


/*
.poke_tapa{display:none}
.poke_contingut{display: block;}
*/

.poke_tapa{display:block}
.poke_contingut{display: block;}

/* ********* VERSIO JORDI. PROVA DE CONCEPTE 20220906 - FINAL - ******** */
/* ********************************************************************* */

/* AREA DE RESULTATS */
section.combat_resultat{
    display:none
}

section.combat_resultat #resultatCombat {
    color:orange;
    background-color: blueviolet;
    font-size:25px;
    font-weight: bolder;
    font-style: italic;
    display:block;
    padding:25px;
    text-align: center;
}