/* ***************************************** */
/* Arxiu CSS que es configura pel tema DARK  */
/* ***************************************** */

:root{
    --bg_color:   rgb(64, 62, 62);
    --font_color: rgb(250,250,250);
    
    --color1:#716E77;
    --color2: #262c38;
    --color3:#B2A4AB;
    --color4: #0E1C25;
    --color5: #6a6f72;

    --atac: rgb(144, 48, 48);
    --defensa: rgb(50, 109, 106);
}