/* ******************************************* */
/* Arxiu CSS que es configura pel tema INFERNO */
/* ******************************************* */

@font-face {
    font-family: "inferno";
    src: url('../media/fonts/royal_inferno/Royal_Inferno.ttf') format('truetype');
}

:root{
    --bg_color:    rgb(79, 3, 3);
    --font_color:  rgb(249, 164, 7);
    --font-type:   inferno;
    --font-weight: bold;
    --font-style:  italic;

    --color1:#675050;
    --color2: #382626;
    --color3:#a57b64;
    --color4: #250e0e;
    --color5: #905b5b;
}